.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0.5rem 0;
    width: 120px; /* Ajusta el ancho según sea necesario */
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-menu button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: #333333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu button:hover {
    background-color: #f0f0f0;
  }
  