@tailwind base;
@tailwind components;
@tailwind utilities;


/* Define las variables de color */
:root {
  --primary-color: #05223f;
  --secondary-color: #0f70b7;
  --accent-color: #0dbeef;
  --white-color: #ffffff;
}

body {
  font-family: 'Arial', sans-serif;
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* Estilos personalizados para Tailwind CSS */
.bg-primary-color {
  background-color: var(--primary-color);
}

.text-primary-color {
  color: var(--primary-color);
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.h-24 {
  height: 6rem;
}

.h-20 {
  height: 5rem;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Animación de desplazamiento continuo */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
